# ====================================================================
# 🔐 SECRETS
# ====================================================================
.env
.env.local
.env.*.local
*.pem
*.key
*.pub
certs/
secrets/
credentials
.aws/
.gcp/
.azure/

# ====================================================================
# 🌍 TERRAFORM / OPENTAF
# ====================================================================
.terraform/

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ====================================================================
# 🐋 DOCKER
# ====================================================================
.docker/
data/
db_data/

# ====================================================================
# ANSIBLE & CONFIGURATION
# ====================================================================
*.retry
.ansible/
.ansible_vault

# ====================================================================
# PYTHON / PACKAGES
# ====================================================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
dist/
build/
.cdk.staging/
cdk.out/

# ====================================================================
# SYSTEM AND IDES
# ====================================================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp